<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.squirrel.shortLink.project.dao.mapper.LinkAccessLogsMapper">

    <select id="findUvTypeCntByShortLink" resultType="java.util.HashMap">
        select
            sum(old_user) as oldUserCnt,
            sum(new_user) as newUserCnt
        from (
        select
        case when count(DISTINCT DATE(tlal.create_time)) > 1 then 1 else 0 end as old_user,
        case when count(DISTINCT DATE(tlal.create_time)) = 1
                      and max(tlal.create_time) >= #{param.startDate}
                      and max(tlal.create_time) <= #{param.endDate}
                      then 1 else 0 end as new_user
        from t_link tl
        inner join t_link_access_logs tlal on tl.full_short_url = tlal.full_short_url
        where tlal.full_short_url = #{param.fullShortUrl}
        and tl.gid = #{param.gid}
        and tl.enable_status = #{param.enableStatus}
        group by user
        ) as user_counts
    </select>

    <select id="selectUvTypeByUsers" resultType="java.util.Map">
        select tlal.user,
               case
                   when min(tlal.create_time) between #{startDate} and #{endDate}
                   then '新访客'
                   else '老访客'
               end as uvType
        from t_link tl
        inner join t_link_access_logs tlal on tl.full_short_url = tlal.full_short_url
        where tlal.full_short_url = #{fullShortUrl}
        and tl.gid = #{gid}
        and tl.del_flag = '0'
        and tl.enable_status = #{enableStatus}
        and tlal.user in
        <foreach item="item" index="index" collection="userAccessLogsList" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by tlal.user
    </select>

    <select id="selectGroupUvTypeByUsers" resultType="java.util.Map">
        select
            tlal.user,
            case
                when min(tlal.create_time) between #{startDate} and #{endDate}
                then '新访客'
                else '老访客'
        from t_link tl
        inner join t_link_access_logs tlal on tl.full_short_url = tlal.full_short_url
        where tlal.user in
        <foreach item="item" index="index" collection="userAccessLogsList" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by tlal.user
    </select>
</mapper>